node_modules
apps/web/dist
apps/web/dev-dist
apps/api/dist
packages/shared/dist

apps/api/.env

# pnpm store
.pnpm-store
**/.pnpm-store

# Keep VS Code workspace settings
!.vscode/settings.json
!.vscode/extensions.json
apps/web/.env
