# Dependencies
node_modules
pnpm-lock.yaml

# Build outputs
dist
build
.next
out

# Prisma
**/prisma/migrations/**

# Environment files
.env
.env.*

# Logs
*.log

# Coverage
coverage

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea

# OS
.DS_Store
Thumbs.db
